body {
    margin: 0;
    background-color: #0D262D;
    color: #fff;
    height: 100%;
}

h1 {
    text-align: center;
}

.conteudo {
    margin: 0px auto 0px;
    position: relative;
}

.estagio {
    position: relative;
    border: 5px solid rgb(65, 111, 211);
    height: 500px;
    overflow: hidden;
    background-color: rgb(101, 193, 255);
    background-image: url("../imgs/background.png");
    background-size: 500px;
}

.bird {
    position: absolute;
    /* border: 1px solid cadetblue; */
    left: 45%;
    top: 35%;
    z-index: 2;
}

.obstaculo {
    background-color: #73BD2E;
    position: absolute;
    width: 10%;
    height: 100%;
    left: 100%;
    /* clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%); */
}

.areasegura {
    /* background-color: blue; */
    width: 100%;
    height: 200px;
    z-index: 1;
    opacity: 0.2;
}

.controles {
    /* border: 1px solid wheat; */
    margin: 3px 0px 0px 50px;
}

.controles button {
    padding: 8px;
    font-size: 20px;
    color: white;
    margin-right: 10px;
    border-radius: 10px;
}

.controles .iniciar {
    background-color: green;
    border-color: green;
    border: none;
}

.controles .pausar {
    background-color: rgb(153, 142, 42);
    border-color: rgb(211, 128, 20);
    border: none;
}

.pontos {
    font-size: 29px;
    text-decoration: underline;
}

.perdeu {
    position: absolute;
    font-size: 60px;
    color: rgb(223, 78, 78);
    border: 2px solid rgba(211, 31, 31, 0.74);
    top: 45%;
    left: 31%;
    display: none;
    z-index: 3;
}